:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --1inch__ui-02: #6c86ad;
  --1inch-bg-02: #ffffff;
  --1inch-text-01: #222222;
  --1inch-text-03: #06070a;
  --1inch-common-text-03: #2f8af5;
  --1inch-common-text-01: #ffffff;
  --1inch-bg-07: #f3f5fa;
  --1inch-bg-36: #f7f9ff;
  --1inch-border-01: #e3e7ee;
  --1inch-border-12: #cadaf4;
  --1inch-shadow-03: none;
  --1inch-shadow-04: 0 12px 24px #e2e9f6;
  --1inch-day__background__info: rgba(47, 138, 245, .16);
  --oneinch-bg-info-2ry: rgb(47 138 245 / 16%);
  --oneinch-static-primary-blue: rgb(47 138 245);
  --oneinch-states-info-2ry-hover: rgb(47 138 245 / 12%);
}

* {
  box-sizing: border-box;
}

img {
  height: 50px;
  width: 50px;
}

svg {
  fill: none;
  stroke: var(--oneinch-static-primary-blue);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input:focus {
outline: 0 !important;
box-shadow: none !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(135deg, #EEF1F8 0%, #E6E9F4 100%);
  min-height: 100vh;
}
